.onnx
.github
.neptune
.idea/
.idea
.DS_Store
GroundingDINO
./venv
venv
__pycache__
/**/*.egg-info
runs
*.pth
*.pt
*.zip
output.geojson
output.tif
annotations.tif
_tiffed_image.png
blend_images.png
*.mp4
*.avi
*.mov
*.so
*.o
*.png
*.jpg
*.pt
!waldo-nano.pt
masks/
tiles/
.vscode/
myenv/
annotations-*.txt
*.jpeg
*.json
results/
datasets/
*.log