torch
torchvision
loguru
opencv-python
PyYAML
pandas
gdown
GitPython
lapx
boto3
redis
rq
filterpy
ultralytics
jsonschema
structlog
Shapely
flask
metaseg
supervision
leafmap
fastapi
uvicorn
ffmpeg-python
onnxruntime
autodistill-grounding-dino
flask_restful
neptune
aiohttp
aiortc
rtsp
sklearn
click
mesop