[Unit]
Description=RIUS Labs UI App
After=network-online.target

[Service]
Restart=always
RestartSec=10s
WorkingDirectory=/home/rius/LocalSetup
ExecStart=/usr/bin/python3.10 rius-web-app/playground_app.py
Environment=PYTHONUNBUFFERED=1
Environment=YOLO_VERBOSE=False
Environment=VERBOSE_DEBUG=False

[Install]
WantedBy=network-online.target