[Unit]
Description=RIUS Playground App

[Service]
User=rius
WorkingDirectory=/home/rius/LocalSetup
ExecStart=/usr/bin/python3.11 /home/rius/LocalSetup/webapp/playground_app.py
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target